.locations.amenities {
	height: 100%;
	width: 25%;
}

.locations {
	border-right: 1px solid #DDDDDD
}

.locations h3 {
	font-weight: 600px;
}

.amenities h3 {
	font-weight: 600px;
}

.amenities h4 {
	font-weight: 400px;
	font-size: 14px;
}

.locations h4 {
	font-weight: 400px;
	font-size: 14px;
}
